* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/6166980_17545.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 400px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
}

.content {
    position: absolute;
    margin-left: 10%;
    margin-top: 35%;
}

.content a {
    text-decoration: none;
}

.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
    font-family: 'Fraunces', serif;
}

.content p {
    font-size: 20px;
    color: #6a7199;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 19px;
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #fbfafa25;
    text-decoration: none;
  }

  .arrow-icons {
    margin-top: 40px;
    display: flex;
  }

  
    a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: rgb(139, 194, 243);
    
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
    color: white;
    margin-left: 20px;
  }
  
  .round {
    border-radius: 50%;
  }

  .feature-img {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  .social-link {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
  }

  .social-link a {
    color: rgb(229, 225, 225);
    padding-right: 20px;
    font-size: 14px;
  }

